h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  color: #40514E;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.images {
  border-radius: 100%;
  height: 150px;
  width: 150px;
}

.skill1 {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 30px;
}

.skill2 {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  float: right;
  margin-left: 30px;
}

.top_container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  margin-bottom: 70px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.profile {
  width: 30%;
  margin: auto;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  width: 5%;
  margin: 100px auto 100px auto;
}

.contact-msg {
  margin: 40px auto 60px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ab);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ab);
  text-decoration: none;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover{
  color:#EAF6F6;
}

.bottom-container{
  margin-top: 80px;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright{
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}
